*:focus
{
    outline: 0;
    font-family: Roboto Condensed;
}

body
{
    font-family: Roboto Condensed;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #EEEEEE;
}

.icon
{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.border
{
    border: 1px solid #E4E4E4;
    border-radius: 2px;
}

.shadow
{
    box-shadow: 0 1px 0 rgba(0,0,0,0.07);
}

input.hidden
{
    display: none;
}

input[type="date"]
{
    height: 19px;
}

select
{
    height: 33px;
}

.error span:empty
{
    margin: 0;
}

input, select, button, textarea
{
    font-size: 16px;
    font-family: Roboto Condensed;
}
/*********************************************** dialog box ******************************************/
.dialog
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.80);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.dialog.hidden
{
    display: none;
}

.dialog form
{
    background-color: white;
    padding: 40px;
}

.dialog form .title
{
    font-size: 1.6em;
    text-align: center;
    color: #009688;
}

.dialog form .title.alert
{
    color: #B71C1C;
}

.dialog form .content
{
    margin: 20px 0 0 0;
}

.dialog form .input
{
    margin: 20px 0 0 0;
}

.dialog form .input label
{
    text-transform: uppercase;
}

.dialog form .input input
{
    width: calc(100% - 20px);
    border: 0;
    border-bottom: 4px solid #004D40;
    border-radius: 2px;
    margin: 5px 0 0 0;
    background-color: #F8F8F8;
    padding: 5px 10px;
}

.dialog form .input input:focus
{
    outline: 0;
}

.dialog form .input .error
{
    margin: 5px 0 0 0;
    color: #B71C1C;
}

.dialog form .controls
{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}

.dialog form .controls button
{
    padding: 10px 20px;
    background-color: #009688;
    border: 0;
    border-radius: 2px;
    color: white;
}

.dialog form .controls button:focus
{
    outline: 0;
}

.dialog form .controls button:hover
{
    cursor: pointer;
    background-color: #004D40;
}

.dialog form .controls button.margined
{
    margin: 0 20px 0 0;
}

.dialog form .controls button.alert
{
    background-color: #F44336;
}

.dialog form .controls button.alert:hover
{
    background-color: #B71C1C;
}
