a
{
    text-decoration: none;
    color: inherit;
}

a:visited
{
    color: inherit;
}

.header
{
    background-color: #009688;
}

.header .content
{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    color: white;
    line-height: 60px;
}

.header .content .logo
{
    margin: 0 25px 0 0;
    text-transform: uppercase;
    font-size: 1.6em;
    cursor: pointer;
}

.header .content .logo:hover
{
    color: #004D40;
}

.header .content .spacer
{
    flex-grow: 3;
}

.header .content .link
{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 0 0 25px;
}

.header .content .link:hover
{
    color: #004D40;
}

.header .content .link .label
{
    margin: 0 0 0 5px;
}

/****************************************************************************/
.page
{
    width: 1000px;
    margin: 40px auto 0 auto;
}

.page .block .title
{
    font-size: 1.6em;
    text-transform: uppercase;
}
/****************************************************************************/