.block .content
{
    display: flex;
    flex-wrap: wrap;
}

.block .content a
{
    display: inherit;
}

#projects .content .card
{
    width: 233px;
    background-color: white;
    cursor: pointer;
    margin: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
}

#projects .content .card.last
{
    margin: 20px 0 0 0;
}

#projects .content .card.empty
{
    width: 231px;
    min-height: 281px;
    background-color: transparent;
    border: 2px dashed #CECECE;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects .content .card.empty .link
{
    text-align: center;
}

#projects .content .card.empty .link .icon
{
    font-size: 64px;
    color: #009688;
}

#projects .content .card .progress
{
    position: relative;
}

#projects .content .card .progress .text
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .content .card .progress .text .value
{
    margin: 10px 0 0 0;
    font-size: 1.6em;
    font-weight: bold;
}

#projects .content .card .progress svg
{
    transform: rotate(-90deg);
}

#projects .content .card .name
{
    padding: 10px;
    text-align: center;
    flex-grow: 2;
}
/************************************************************************/
#issues .title
{
    margin: 40px 0 0 0;
}

#issues .content table
{
    margin: 20px 0;
    background-color: white;
}

#issues .content td
{
    padding: 10px;
}

#issues .content thead tr
{
    background-color: #004D40;
    color: white;
}

#issues .content tr.outdated
{
    background-color: #FFCDD2;
}

#issues .content thead td
{
    text-align: center;
}

#issues .content tbody tr td
{
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

#issues .content tbody tr .id
{
    color: #5B5B5B;
}

#issues .content tbody tr .subject
{
    width: 100%;
    font-weight: bold;
    text-align: left;
}

#issues .content tbody tr:hover
{
    background-color: #E0F2F1;
    cursor: pointer;
}

#issues .content .placeholder
{
    margin: 20px 0;
    display: flex;
    height: 300px;
    width: 100%;
    border: 2px dashed #CECECE;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#issues .content .placeholder .icon
{
    color: #009688;
    font-size: 48px;
    margin: 0 0 10px 0;
}
