.block .content
{
    margin: 20px 0 0 0;
}

.block .content .item
{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px 0 0 0;
    min-height: 31px;
}

.block .content .item .name
{
    margin: 0 0 0 20px;
    font-weight: bold;
}

.block .content .item .name:hover
{
    color: #004D40;
    cursor: pointer;
}

.block .content .item .email
{
    flex-grow: 3;
    margin: 0 0 0 20px;
    color: #b5b5b5;
}

.block .content .item .role
{
    width: 100px;
    background-color: #009688;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 31px;
    border-radius: 2px;
}

.block .content .item .role.developer
{
    background-color: #311B92;
}

.block .content .item .role.watcher
{
    background-color: #F57F17;
}

.block .content .item .role.manager
{
    background-color: #B71C1C;
}

.block .content .item .actions
{
    display: flex;
    margin: 0 0 0 10px;
}

.block .content .item .actions .link
{
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #009688;
    border-radius: 2px;
    color: #009688;
}

.block .content .item .actions .link:hover
{
    background-color: #004D40;
    color: white;
    cursor: pointer;
}

.block .content .item.empty
{
    margin: 20px 0 0 0;
    min-height: 29px;
    border: 2px dashed #CECECE;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
}

.block .content .item.empty .link
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.block .content .item.empty .link .icon
{
    font-size: 29px;
    color: #009688;
}

#create-dialog #search-results
{
    width: 655px;
    min-height: 300px;
    max-height: 400px;
    margin: 20px 0 0 0;
    padding: 0 0 10px 0;
    background-color: #F8F8F8;
    overflow-y: scroll;
}

#create-dialog #search-results .container
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 0 0;
}

#create-dialog #search-results .item
{
    width: 200px;
    margin: 10px 0 0 10px;
    display: flex;
}

#create-dialog #search-results .item label
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#create-dialog #search-results .item.hidden
{
    display: none;
}

#create-dialog .input select, #update-dialog .input select
{
    border-radius: 2px;
    width: 100%;
    border: 0;
    border-bottom: 4px solid #004D40;
    background-color: #F8F8F8;
    outline: 0;
}

#create-dialog .controls
{
    margin: 20px 0 0 0;
}

#create-dialog #search-results-placeholder
{
    margin: 20px 0 0 0;
    width: 655px;
    height: 300px;
    display: flex;
    border: 2px dashed #CECECE;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create-dialog #search-results-placeholder.hidden
{
    display: none;
}

#create-dialog #search-results-placeholder .link
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#create-dialog #search-results-placeholder .link .icon
{
    font-size: 64px;
    color: #009688;
}

#create-dialog #search-results-placeholder .link .value
{
    margin: 10px 0 0 0;
}
