.block
{
    margin: 0 0 40px 0;
}

.block#details .content
{
    margin: 20px 0 0 0;
    background-color: white;
    padding: 0 20px 20px 20px;
}

.block#details .content .row
{
    margin: 20px 0 0 0;
}

.block#details .content .row .label
{
    color: #B5B5B5;
    text-transform: uppercase;
}

.block#details .content .row .value
{
    margin: 5px 0 0 0;
}

.block#details .content .row#project-name .value
{
    font-size: 1.6em;
}

.block#details .content .row#parent-project .value
{
    color: #009688;
}

.block#details .content .information
{
    border: 1px dashed #B5B5B5;
    border-radius: 2px;
    margin: 20px 0 0 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.block#details .content .information .item
{
    display: flex;
    align-items: center;
}

.block#details .content .information .item .label
{
    text-transform: uppercase;
    color: #009688;
    margin: 0 5px 0 0;
}

.block#details .content .information .item .value
{
    font-size: 1.6em;
}

.block#details .content .controls
{
    display: flex;
    margin: 20px 0 0 0;
    justify-content: space-between;
    padding: 0 0 20px 0;
    border-bottom: 1px dashed #B5B5B5;
}

.block#details .content .controls .button
{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 2px;
}

.block#details .content .controls .button.last
{
    margin: 0;
}

.block#details .content .controls .spacer
{
    flex-grow: 3;
}

.block#details .content .controls .button .icon
{
    margin: 0 5px 0 0;
}

.block#details .content .controls .button:hover
{
    color: white;
    background-color: #004D40;
}
.block#details .content .controls .button[color="red"]:hover
{
    background-color: #B71C1C;
}
/*
.block#details .content .controls .button[color="teal"]:hover
{
    background-color: #004D40;
}



.block#details .content .controls .button[color="orange"]:hover
{
    background-color: #F57F17;
}

.block#details .content .controls .button[color="blue"]:hover
{
    background-color: #0D47A1;
}

.block#details .content .controls .button[color="purple"]:hover
{
    background-color: #311B92;
}

.block#details .content .controls .button[color="green"]:hover
{
    background-color: #33691E;
}

.block#details .content .controls .button[color="brown"]:hover
{
    background-color: #3E2723;
}
    */
.block#details .content .assignments
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}

.block#details .content .assignments .item
{
    display: flex;
    padding: 10px;
    background-color: #009688;
    color: white;
    margin: 10px 10px 0 0;
    border-radius: 2px;
}

.block#details .content .assignments .item.developer
{
    background-color: #311B92;
}

.block#details .content .assignments .item.watcher
{
    background-color: #F57F17;
}

.block#details .content .assignments .item.manager
{
    background-color: #B71C1C;
}

.block#details .content .assignments .item .role
{
    margin: 0 10px 0 0;
}

.block#details .content .assignments .item .name
{
    text-decoration: underline;
    cursor: pointer;
}

/************************************************************************/
.block#versions table
{
    width: 100%;
    background-color: white;
}

.block#versions table
{
    margin: 20px 0;
    background-color: white;
}

.block#versions td
{
    padding: 10px;
}

.block#versions thead tr
{
    background-color: #004D40;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
}

.block#versions thead td
{
    text-align: center;
}

.block#versions table input[type="checkbox"]
{
    border: 0;
}

.block#versions tbody tr td
{
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.block#versions tbody tr td.name
{
    width: 100%;
    text-align: left;
    font-weight: bold;
}


.block#versions tbody tr:hover
{
    background-color: #E0F2F1;
    cursor: pointer;
}

.block#versions .placeholder
{
    margin: 20px 0;
    display: flex;
    height: 300px;
    width: 100%;
    border: 2px dashed #CECECE;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block#versions .placeholder .icon
{
    color: #009688;
    font-size: 64px;
    margin: 0 0 10px 0;
}
