.block .content
{
    margin: 20px 0 0 0;
    background-color: white;
    padding: 20px;
}

.block .content .tabs
{
    padding: 0;
    border-bottom: 4px solid #009688;
    display: flex;
}

.block .content .tabs .item
{
    text-transform: uppercase;
    padding: 5px 10px;
    border: 4px solid white;
    border-bottom: 0;
    cursor: pointer;
}

.block .content .tabs .item.selected
{
    border: 4px solid #009688;
    background-color: #009688;
    color: white;
}

/************************************/
.block .content .pages .item
{
    display: none;
}

.block .content .pages .item.selected
{
    display: block
}

.block .content .pages #page-1 .text
{
    margin: 20px 0 0 0;
}

.block .content .pages #page-2 .button
{
    cursor: pointer;
    display: inline-block;
    color: white;
    background-color: #009688;
    border-radius: 2px;
    padding: 10px;
}

.block .content .pages #page-2 .button:hover
{
    background-color: #004D40;
}

.block .content .pages a
{
    color: #009688;
    text-decoration: underline;
}