#activities .content table
{
    width: 100%;
    margin: 20px 0;
    background-color: white;
}

#activities .content td
{
    padding: 10px;
}

#activities .content thead tr
{
    background-color: #004D40;
    color: white;
}

#activities .content thead td
{
    text-align: center;
}

#activities .content tbody tr td
{
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}

#activities .content tbody tr .content
{
    width: 100%;
    white-space: normal;
    text-align: left;
}

#activities .content tbody tr:hover
{
    background-color: #E0F2F1;
}

#activities .content .placeholder
{
    margin: 20px 0;
    display: flex;
    height: 300px;
    width: 100%;
    border: 2px dashed #CECECE;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#activities .content .placeholder .icon
{
    color: #009688;
    font-size: 64px;
    margin: 0 0 10px 0;
}