@model CreateProjectViewModel
@{
    Layout = "_Default";
    ViewBag.Title = "Projecto // Create project";
    ViewBag.Stylesheet = "create-project.css";
}

<div class="block">
    <div class="title">
        Create new project:
    </div>
    <form class="content border shadow" asp-action="Create" method="post">
        <div class="row">
            <div id="name" class="input">
                <label asp-for="Name">Project name</label>
                <input asp-for="Name" />
                <div class="error">
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div id="url" class="input">
                <label asp-for="Url">Project url</label>
                <input asp-for="Url" />
                <div class="error">
                    <span asp-validation-for="Url"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="overview" class="input">
                <label asp-for="Overview">Project Overview</label>
                <textarea asp-for="Overview"></textarea>
            </div>
        </div>
        <div class="row">
            <div id="start-date" class="input">
                <label asp-for="StartDate">Start date</label>
                <input asp-for="StartDate"/>
                <div class="error">
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>
            <div id="due-date" class="input">
                <label asp-for="DueDate">Due date</label>
                <input asp-for="DueDate"/>
                <div class="error">
                    <span asp-validation-for="DueDate"></span>
                </div>
            </div>
            <div id="parent-project" class="input">
                <label asp-for="ParentProjectId">Parent project</label>
                <select asp-for="ParentProjectId">
                    <option value="0">no parent project</option>
                    @await Component.InvokeAsync(nameof(UserProjectsSelect), new { selectedId = Model?.ParentProjectId ?? 0 })
                </select>
            </div>
        </div>
        <div id="controls" class="row">
            <button type="submit">CREATE PROJECT</button>
            <a asp-action="Index" asp-controller="Home">CANCEL</a>
        </div>
    </form>
</div>
